  body {
    margin: 0;
    height: 100vh;
    position: relative;
  }

  .box {
    width: 150px;
    height: 150px;
    position: absolute;
    color: white;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .box1 {
    background-color: red;
    top: 50px;
    left: 50px;
    z-index: 1;
  }

  .box2 {
    background-color: blue;
    top: 100px;
    left: 100px;
    z-index: 5;
  }

  .box3 {
    background-color: green;
    top: 150px;
    left: 150px;
    z-index: 10;
  }