.navbar{
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.nav-right .list{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav-right .list li{
    list-style: none;
    padding: 0px 10px;
}