div{
    height: 300px;
    width: 300px;
    background-color: black;
    top: 0;
  
}

div:hover{
    transform: rotate(45deg);      
} 
 div:hover{
    transform: scale(2.5);         
} 
 div:hover{
    transform: skew(30deg);      
}
div:hover{
    transform: translate(30px,100px);     
}
