
p::after{
   content:"😊";
    
}
p::before{
    content: "🙌";
}
p::first-letter{
    font-size: 100px;
    font-family: "italy";
}
p::first-line{
    color: rgb(11, 238, 125);
}
li::marker{
    color: blueviolet;
}

